<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wanfeng.sp.api.mapper.search.SpFolderMapper">

    <sql id="all_field">
        id, type, name, create_date, modify_date, is_delete,
        tag, path, parent_id, parent_path
    </sql>

    <resultMap id="folderResultMap" type="cn.wanfeng.sp.api.dataobject.SpFolderDO">
        <id property="id" column="id"/>
        <id property="type" column="type"/>
        <id property="name" column="name"/>
        <id property="createDate" column="create_date"/>
        <id property="modifyDate" column="modify_date"/>
        <id property="isDelete" column="is_delete"/>
        <id property="tag" column="tag"/>
        <id property="path" column="path"/>
        <id property="parentId" column="parent_id"/>
        <id property="parentPath" column="parent_path"/>
    </resultMap>

    <select id="findById" resultMap="folderResultMap">
        select <include refid="all_field"/>
        from {data_table}
        where tag = 'sys_folder'
            and id = #{id}
    </select>

    <select id="findByType" resultMap="folderResultMap">
        select <include refid="all_field"/>
        from {data_table}
        where tag = 'sys_folder'
            and type = #{type}
    </select>

    <select id="findByName" resultMap="folderResultMap">
        select <include refid="all_field"/>
        from {data_table}
        where tag = 'sys_folder'
            and name = #{name}
    </select>

    <select id="findByParentId" resultMap="folderResultMap">
        select <include refid="all_field"/>
        from {data_table}
        where tag = 'sys_folder'
            and parent_id = #{parentId}
    </select>

    <select id="findByParentPathLike" resultMap="folderResultMap">
        select <include refid="all_field"/>
        from {data_table}
        where tag = 'sys_folder'
            and parent_path like #{parentPath}
    </select>

    <select id="findByParentPathEquals" resultMap="folderResultMap">
        select <include refid="all_field"/>
        from {data_table}
        where tag = 'sys_folder'
            and parent_path = #{parentPath}
    </select>


</mapper>