<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wanfeng.sp.base.mapper.search.BorrowFormMapper">

    <!-- 设置表字段 -->
    <!--
    修改字段后需要同步修改本文件中的sql: insertSettings、updateSettings -->
    <sql id="all_field">
        id, name, form_no, create_date
    </sql>

    <resultMap id="borrowFormResultMap" type="cn.wanfeng.sp.base.BorrowFormDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="form_no" property="formNo"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <select id="findById" resultMap="borrowFormResultMap">
        select
        <include refid="all_field"/>
        from {data_table}
        where id = #{id}
    </select>

    <select id="findAll" resultMap="borrowFormResultMap">
        select
        <include refid="all_field"/>
        from {data_table}
        where type = 'borrow_form'
    </select>




</mapper>