<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wanfeng.sp.storage.mapper.postgres.DatabaseStorageMapper">

    <!-- 设置表字段 -->
    <!--
    修改字段后需要同步修改本文件中的sql: insertSettings、updateSettings -->
    <sql id="settings_field">
        name, increase_long, increase_string
    </sql>
    <resultMap id="settingsResultMap" type="cn.wanfeng.sp.api.dataobject.SpSettingsDO">
        <id property="name" column="name"/>
        <id property="increaseLong" column="increase_long"/>
        <id property="increaseString" column="increase_string"/>
    </resultMap>

    <!-- 数据表字段 -->
    <sql id="data_object_field">
        id, type, name, create_date, modify_date, is_delete, tag, path, parent_id, parent_path, data
    </sql>
    <resultMap id="objectResultMap" type="cn.wanfeng.sp.api.dataobject.SpDataObjectDO">
        <id property="id" column="id"/>
        <id property="type" column="type"/>
        <id property="name" column="name"/>
        <id property="createDate" column="create_date"/>
        <id property="modifyDate" column="modify_date"/>
        <id property="isDelete" column="is_delete"/>
        <id property="tag" column="tag"/>
        <id property="path" column="path"/>
        <id property="parentId" column="parent_id"/>
        <id property="parentPath" column="parent_path"/>
        <id property="data" column="data"/>
    </resultMap>


    <select id="findObjectById" resultMap="objectResultMap">
        SELECT
        <include refid="data_object_field"/>
        FROM ${tableName}
        WHERE id = #{id}
    </select>

    <update id="updateBaseObject" useGeneratedKeys="true" keyProperty="objectDO.id">
        UPDATE ${tableName}
        SET type = #{objectDO.type},
            name = #{objectDO.name},
            create_date = #{objectDO.createDate},
            modify_date = #{objectDO.modifyDate},
            is_delete = #{objectDO.isDelete},
            data = #{objectDO.data}
        WHERE id = #{objectDO.id}
    </update>

    <insert id="insertBaseObject" useGeneratedKeys="true" keyProperty="objectDO.id">
        INSERT INTO ${tableName}(<include refid="data_object_field"/>)
        VALUES (
            #{objectDO.id},
            #{objectDO.type},
            #{objectDO.name},
            #{objectDO.createDate},
            #{objectDO.modifyDate},
            #{objectDO.isDelete},
            #{objectDO.data}
        )
    </insert>

    <insert id="batchInsertBaseObject" >
        INSERT INTO ${tableName}(<include refid="data_object_field"/>)
        VALUES
        <foreach collection="objectDOList" item="objectDO" open="" separator="," close="">
            (
            #{objectDO.id},
            #{objectDO.type},
            #{objectDO.name},
            #{objectDO.createDate},
            #{objectDO.modifyDate},
            #{objectDO.isDelete},
            #{objectDO.data}
            )
        </foreach>
    </insert>

    <delete id="removeObject">
        DELETE FROM ${tableName}
        WHERE id = #{id}
    </delete>

    <delete id="batchRemoveObject">
        DELETE FROM ${tableName}
        WHERE id IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findSysObjectById" resultMap="objectResultMap">
        SELECT <include refid="data_object_field"/>
        FROM ${tableName}
        WHERE id = #{id}
    </select>

    <select id="findObjectByPath" resultMap="objectResultMap">
        SELECT <include refid="data_object_field"/>
        FROM ${tableName}
        WHERE path = #{path}
        limit 1
    </select>

    <select id="findObjectByLikePath" resultMap="objectResultMap">
        SELECT <include refid="data_object_field"/>
        FROM ${tableName}
        WHERE path LIKE #{path}
        limit #{limit}
    </select>

    <select id="countObjectByLikePathAndTag" resultType="java.lang.Integer">
        SELECT count(id)
        FROM ${tableName}
        WHERE path LIKE #{path}
        AND tag = #{tag}
    </select>

    <insert id="insertObject" useGeneratedKeys="true" keyProperty="dataObjectDO.id">
        INSERT INTO ${tableName}(<include refid="data_object_field"/>)
        VALUES (
        #{dataObjectDO.id},
        #{dataObjectDO.type},
        #{dataObjectDO.name},
        #{dataObjectDO.createDate},
        #{dataObjectDO.modifyDate},
        #{dataObjectDO.isDelete},
        #{dataObjectDO.tag},
        #{dataObjectDO.path},
        #{dataObjectDO.parentId},
        #{dataObjectDO.parentPath},
        #{dataObjectDO.data}
        )
    </insert>

    <insert id="batchInsertObject" >
        INSERT INTO ${tableName}(<include refid="data_object_field"/>)
        VALUES
        <foreach collection="dataObjectDOList" item="objectDO" open="" separator="," close="">
            (
            #{objectDO.id},
            #{objectDO.type},
            #{objectDO.name},
            #{objectDO.createDate},
            #{objectDO.modifyDate},
            #{objectDO.isDelete},
            #{objectDO.tag},
            #{objectDO.path},
            #{objectDO.parentId},
            #{objectDO.parentPath},
            #{objectDO.data}
            )
        </foreach>
    </insert>

    <update id="updateObject" useGeneratedKeys="true" keyProperty="dataObjectDO.id">
        UPDATE ${tableName}
        SET type = #{dataObjectDO.type},
        name = #{dataObjectDO.name},
        create_date = #{dataObjectDO.createDate},
        modify_date = #{dataObjectDO.modifyDate},
        is_delete = #{dataObjectDO.isDelete},
        tag = #{dataObjectDO.tag},
        path = #{dataObjectDO.path},
        parent_id = #{dataObjectDO.parentId},
        parent_path = #{dataObjectDO.parentPath},
        data = #{dataObjectDO.data}
        WHERE id = #{dataObjectDO.id}
    </update>

    <!--
        Postgres 批量更新，若id不存在则新建，若id存在则更新 DO UPDATE SET的字段
        需要Postgres版本9.5及以上
    -->
    <update id="batchUpdateObject" >
        INSERT INTO ${tableName} (<include refid="data_object_field"/>)
        VALUES
        <foreach collection="dataObjectDOList" item="objectDO" open="" separator="," close="">
            (
            #{objectDO.id},
            #{objectDO.type},
            #{objectDO.name},
            #{objectDO.createDate},
            #{objectDO.modifyDate},
            #{objectDO.isDelete},
            #{objectDO.tag},
            #{objectDO.path},
            #{objectDO.parentId},
            #{objectDO.parentPath},
            #{objectDO.data}
            )
        </foreach>
        ON CONFLICT (id)
        DO UPDATE SET
            type = excluded.type,
            name = excluded.name,
            create_date = excluded.create_date,
            modify_date = excluded.modify_date,
            is_delete = excluded.is_delete,
            tag = excluded.tag,
            path = excluded.path,
            parent_id = excluded.parent_id,
            parent_path = excluded.parent_path,
            data = excluded.data
    </update>

    <select id="findSettingsByName" resultMap="settingsResultMap">
        SELECT
        <include refid="settings_field"/>
        FROM ${tableName}
        WHERE name = #{name}
    </select>

    <insert id="insertSettings" useGeneratedKeys="true" keyProperty="settingsDO.name">
        INSERT INTO ${tableName}(<include refid="settings_field"/>)
        VALUES (
            #{settingsDO.name},
            #{settingsDO.increaseLong},
            #{settingsDO.increaseString}
        )
    </insert>

    <update id="updateSettings" useGeneratedKeys="true" keyProperty="settingsDO.name">
        UPDATE ${tableName}
        SET increase_long = #{settingsDO.increaseLong},
            increase_string = #{settingsDO.increaseString}
        WHERE name = #{settingsDO.name}
    </update>

    <select id="listAllTable" resultType="java.lang.String">
        select tablename from pg_tables where schemaname=#{currentScheme}
    </select>

    <update id="createDataTable">
        CREATE TABLE ${tableName} (
            id int8 NOT NULL,
            "type" varchar NOT NULL,
            "name" varchar NULL,
            create_date timestamp NOT NULL,
            modify_date timestamp NOT NULL,
            is_delete bool NOT NULL,
            path varchar NULL,
            tag varchar NULL,
            parent_id varchar NULL,
            parent_path varchar NULL,
            "data" bytea NOT NULL,
            CONSTRAINT ${tableName}_pk PRIMARY KEY (id)
        );
        CREATE INDEX ${tableName}_type_idx ON ${tableName} USING btree (type);
        CREATE INDEX ${tableName}_path_idx ON ${tableName} USING btree (path);
        CREATE INDEX ${tableName}_tag_idx ON ${tableName} USING btree (tag);
    </update>

    <update id="createSettingsTable">
        CREATE TABLE ${tableName} (
            "name" varchar NOT NULL,
            increase_long varchar NULL,
            increase_string varchar NULL,
            CONSTRAINT ${tableName}_pk PRIMARY KEY ("name")
        );
    </update>

    <insert id="initSettingsTableData">
        INSERT INTO ${tableName} ("name", increase_long, increase_string)
        VALUES('SP_OBJECT_ID_INCREASE', '0', NULL);
    </insert>


</mapper>