<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wanfeng.sp.base.mapper.SpSettingsMapper">

    <sql id="all_field">
        name, increase_long, increase_string
    </sql>

    <select id="findByName" resultMap="mybatis-plus_SpSettingsDO">
        select
        <include refid="all_field"/>
        from sp_settings
        where name = #{name}
        limit 1
    </select>


</mapper>