# SimpleProto启动配置模版

simpleproto:

  # CORS 允许跨域的域名通配符
  corsAllowedOriginPatterns: http://localhost:*

  # 数据库连接配置(PostgreSQL）
  dataSourceDriver: org.postgresql.Driver
  dataSourceUrl: jdbc:postgresql://...
  dataSourceUsername:
  dataSourcePassword:
  # 最大连接数
  dataSourceMaximumPoolSize: 10
  # 最小空闲连接数（与最大连接数设置为相等，可以使数据库不进行扩容，减少）
  dataSourceMinimumIdle: 10
  # 等待连接池分配连接的最大时长(一般业务请求大于5秒算很慢了
  dataSourceConnectionTimeout: 5000
  # 一个空闲连接的最大时长，超时则被释放
  dataSourceIdleTimeout: 0
  # 一个连接的生命时长，超时并且没有被使用则释放
  dataSourceMaxLifetime: 1800000

  # OpenSearch 连接配置
  opensearchHostScheme: http
  opensearchHost:
  opensearchPort:
  opensearchUsername:
  opensearchPassword:
  opensearchConnectTimeout: 5000    # 连接建立超时（毫秒）
  opensearchSocketTimeout: 1800000  # 数据传输超时（毫秒）
  # OpenSearch jdbc配置
  opensearchJdbcDriver: com.amazon.opendistroforelasticsearch.jdbc.Driver
  opensearchJdbcUrl: jdbc:elasticsearch://http://...
  opensearchJdbcUseSSL: false

  # 数据库名称取spring应用名称
  currentScheme: ${spring.profiles.active}
  # 业务数据表名
  dataTable: sp_object_table
  # 业务设置表名
  settingsTable: sp_settings
  # Redis连接配置
  redisHost:
  redisPort:
  redisPassword:
  redisDatabase: 0
  # 文件对象存储连接配置
  fileStorageType: MinIO
  fileStorageEndPoint: http://...
  fileStorageAccessKey:
  fileStorageSecretKey:
  fileStorageBucket: simpleproto
  # Swagger UI配置
  # swaggerScanPackages扫描包路径，多个路径用","分隔（SimpleProto提供一些默认接口，扫描包名为cn.wanfeng.sp.api.controller）
  swaggerScanPackages: cn.wanfeng.sp.web.controller
  swaggerTitle: SimpleProto-API 接口文档
  swaggerAuthor: 晚风
  swaggerAuthorUrl: 晚风的URL
  swaggerAuthorEmail: 2580330397@qq.com
  swaggerDescription: SimpleProto-API 接口文档
  swaggerVersion: 1.1

######################################################
server:
  servlet:
    context-path: /simpleproto
  port: 7300


spring:
  application:
    name: simpleproto
  profiles:
    active: dev
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # Postgres数据源
  datasource:
    postgres:
      driver-class-name: ${simpleproto.dataSourceDriver}
      url: ${simpleproto.dataSourceUrl}
      username: ${simpleproto.dataSourceUsername}
      password: ${simpleproto.dataSourcePassword}
    search:
      driver-class-name: ${simpleproto.opensearchJdbcDriver}
      url: ${simpleproto.opensearchJdbcUrl}
      username: ${simpleproto.opensearchUsername}
      password: ${simpleproto.opensearchPassword}
      useSSL: ${simpleproto.opensearchJdbcUseSSL}
  data:
    redis:
      host: ${simpleproto.redisHost}
      port: ${simpleproto.redisPort}
      password: ${simpleproto.redisPassword}
      database: ${simpleproto.redisDatabase}
  # 数据库连接方言配置
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        hbm2ddl:
          auto: create
  # 全局json日期格式
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  # ElasticSearch数据源
  elasticsearch:
    uris: ${simpleproto.esUris}
    username: ${simpleproto.esUsername}
    password: ${simpleproto.esPassword}
  # message国际化资源文件配置 src/main/resources/i18n/messages.properties
  messages:
    basename: i18n/messages


hibernate:
  dialect: org.hibernate.dialect.PostgreSQLDialect

mybatis-plus:
  configuration:
    cache-enabled: true
    use-generated-keys: true
    default-executor-type: REUSE
    use-actual-param-name: true
  # mapper xml文件扫描路径
  mapper-locations: classpath:mapper/postgres/*Mapper.xml

# 日志配置
logging:
  file:
    path: ./logs
  level:
    root: info
    org.springframework: error
    com.alibaba.nacos: error
    org.apache.dubbo: error
    org.apache.coyote: error

